NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_SOLANA_CLUSTER=devnet
NEXT_PUBLIC_BANKROLL_PROGRAM_ID=H8xb7nuoB6uv9V9Eye1c8CWFuefcdDXwLri4VTd1mSyj
NEXT_PUBLIC_SOLANA_DEPLOYER_ADDRESS=replace-with-local-devnet-deployer-public-key
NEXT_PUBLIC_STREET_VAULT_ADDRESS=replace-with-street-tier-vault-pda
NEXT_PUBLIC_CREW_VAULT_ADDRESS=replace-with-crew-tier-vault-pda
NEXT_PUBLIC_BOSS_VAULT_ADDRESS=replace-with-boss-tier-vault-pda
NEXT_PUBLIC_HIGHROLLER_VAULT_ADDRESS=replace-with-highroller-tier-vault-pda
