NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_SOLANA_CLUSTER=devnet
NEXT_PUBLIC_BANKROLL_PROGRAM_ID=H8xb7nuoB6uv9V9Eye1c8CWFuefcdDXwLri4VTd1mSyj
